<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nut.driver.app.dao.DataDictDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.nut.driver.app.entity.DataDictEntity" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="value" column="value"/>
        <result property="name" column="name"/>
        <result property="keyType" column="key_type"/>
        <result property="patternA" column="pattern_a"/>
        <result property="patternB" column="pattern_b"/>
        <result property="patternC" column="pattern_c"/>
        <result property="patternD" column="pattern_d"/>
        <result property="availableFlag" column="available_flag"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, code, value, name, key_type, pattern_a, pattern_b, pattern_c, pattern_d, available_flag
    </sql>



    <select id="selectByCodeAndValue" parameterType="com.nut.driver.app.entity.DataDictEntity"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from data_dict
        where code = #{code,jdbcType=VARCHAR}
        AND value = #{value,jdbcType=INTEGER}
    </select>


</mapper>
