<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nut.driver.app.dao.FltCarOwnerMappingDao">
  <resultMap id="BaseResultMap" type="com.nut.driver.app.domain.FltCarOwnerMapping">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="car_id" jdbcType="VARCHAR" property="carId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_type" jdbcType="INTEGER" property="createType" />
    <result column="tboss_user_id" jdbcType="VARCHAR" property="tbossUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, car_id, user_id, create_type, tboss_user_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from flt_car_owner_mapping
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from flt_car_owner_mapping
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.nut.driver.app.domain.FltCarOwnerMapping">
    insert into flt_car_owner_mapping (id, car_id, user_id, 
      create_type, tboss_user_id, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{carId,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{createType,jdbcType=INTEGER}, #{tbossUserId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.nut.driver.app.domain.FltCarOwnerMapping">
    insert into flt_car_owner_mapping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="carId != null">
        car_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createType != null">
        create_type,
      </if>
      <if test="tbossUserId != null">
        tboss_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="carId != null">
        #{carId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createType != null">
        #{createType,jdbcType=INTEGER},
      </if>
      <if test="tbossUserId != null">
        #{tbossUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nut.driver.app.domain.FltCarOwnerMapping">
    update flt_car_owner_mapping
    <set>
      <if test="carId != null">
        car_id = #{carId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="createType != null">
        create_type = #{createType,jdbcType=INTEGER},
      </if>
      <if test="tbossUserId != null">
        tboss_user_id = #{tbossUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nut.driver.app.domain.FltCarOwnerMapping">
    update flt_car_owner_mapping
    set car_id = #{carId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      create_type = #{createType,jdbcType=INTEGER},
      tboss_user_id = #{tbossUserId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 自定义sql由此向下 -->

  <select id="selectByCarIdAndUserId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM flt_car_owner_mapping com
    WHERE com.car_id = #{carId,jdbcType=VARCHAR}
    AND com.user_id = #{userId,jdbcType=BIGINT}
  </select>

  <select id="selectByCarId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM flt_car_owner_mapping com
    WHERE com.car_id = #{carId,jdbcType=VARCHAR}
  </select>

  <select id="queryOwnerCars" parameterType="java.lang.Long" resultType="java.lang.String">
    SELECT
        car_id AS carId
    FROM
        flt_car_owner_mapping
    WHERE
        user_id = #{userId,jdbcType=BIGINT}
  </select>
</mapper>