<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nut.driver.app.dao.FltCarDriverMappingDao">
  <resultMap id="BaseResultMap" type="com.nut.driver.app.domain.FltCarDriverMapping">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="team_id" jdbcType="BIGINT" property="teamId" />
    <result column="car_id" jdbcType="VARCHAR" property="carId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, team_id, car_id, user_id, create_user_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from flt_car_driver_mapping
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from flt_car_driver_mapping
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.nut.driver.app.domain.FltCarDriverMapping">
    insert into flt_car_driver_mapping (id, team_id, car_id, 
      user_id, create_user_id, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{teamId,jdbcType=BIGINT}, #{carId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT}, #{createUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.nut.driver.app.domain.FltCarDriverMapping">
    insert into flt_car_driver_mapping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="teamId != null">
        team_id,
      </if>
      <if test="carId != null">
        car_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="isMasterDriver != null">
        is_master_driver,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="teamId != null">
        #{teamId,jdbcType=BIGINT},
      </if>
      <if test="carId != null">
        #{carId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="isMasterDriver != null">
        #{isMasterDriver,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nut.driver.app.domain.FltCarDriverMapping">
    update flt_car_driver_mapping
    <set>
      <if test="teamId != null">
        team_id = #{teamId,jdbcType=BIGINT},
      </if>
      <if test="carId != null">
        car_id = #{carId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nut.driver.app.domain.FltCarDriverMapping">
    update flt_car_driver_mapping
    set team_id = #{teamId,jdbcType=BIGINT},
      car_id = #{carId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 自定义sql由此向下 -->

  <select id="selectByTeamIdAndUserId" resultType="com.nut.driver.app.pojo.CarInfoPojo">
    SELECT
    cdm.car_id AS carId,
    cc.car_number AS carNumber,
    cc.car_vin AS carVin
    FROM flt_car_driver_mapping cdm
	LEFT JOIN car cc ON cc.id = cdm.car_id
    WHERE cdm.team_id = #{teamId,jdbcType=BIGINT}
    AND cdm.user_id = #{userId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByTeamIdAndUserId" parameterType="java.lang.Long">
    DELETE FROM flt_car_driver_mapping
    WHERE team_id = #{teamId,jdbcType=BIGINT}
    AND user_id = #{userId,jdbcType=BIGINT}
  </delete>

  <select id="selectByTeamCarUser" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />,is_master_driver isMasterDriver
    FROM flt_car_driver_mapping cdm
    WHERE cdm.team_id = #{teamId,jdbcType=BIGINT}
    AND cdm.car_id = #{carId,jdbcType=VARCHAR}
    AND cdm.user_id = #{userId,jdbcType=BIGINT}
  </select>

  <select id="selectByTeamIdAndCarId" resultType="com.nut.driver.app.pojo.UserInfoPojo">
    SELECT
    cdm.user_id AS id,
    uu.name AS name,
    uu.phone AS phone,
    cdm.is_master_driver isMasterDriver
    FROM flt_car_driver_mapping cdm
    INNER JOIN user uu ON uu.id = cdm.user_id
    WHERE cdm.team_id = #{teamId,jdbcType=BIGINT}
    AND cdm.car_id = #{carId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByTeamIdAndCarId">
    DELETE FROM flt_car_driver_mapping
    WHERE team_id = #{teamId,jdbcType=BIGINT}
    AND car_id = #{carId,jdbcType=VARCHAR}
  </delete>

  <select id="selectByTeamId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM flt_car_driver_mapping cdm
    WHERE cdm.team_id = #{teamId,jdbcType=BIGINT}
  </select>

  <insert id="insertFltCarDriverRecord" parameterType="com.nut.driver.app.domain.FltCarDriverBindRecord">
    insert into flt_car_driver_unbind_mapping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="teamId != null">
        team_id,
      </if>
      <if test="carId != null">
        car_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="isMasterDriver != null">
        is_master_driver,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="bind != null">
        bind,
      </if>
      <if test="isFirstBind != null">
        is_first_bind,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="teamId != null">
        #{teamId,jdbcType=BIGINT},
      </if>
      <if test="carId != null">
        #{carId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="isMasterDriver != null">
        #{isMasterDriver,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bind != null">
        #{bind,jdbcType=VARCHAR},
      </if>
      <if test="isFirstBind != null">
        #{isFirstBind,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectFltCarDriverRecordByCarId" resultType="com.nut.driver.app.domain.FltCarDriverBindRecord" parameterType="string">
    SELECT
    team_id teamId
    FROM flt_car_driver_unbind_mapping
    WHERE car_id = #{carId,jdbcType=VARCHAR}
  </select>
  <delete id="batchDelete" parameterType="java.util.List">
    DELETE FROM flt_car_driver_mapping
    WHERE id IN
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
</mapper>