<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nut.driver.app.dao.FltFleetUserMappingDao">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.nut.driver.app.entity.FltFleetUserMappingEntity" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="teamId" column="team_id"/>
        <result property="role" column="role"/>
        <result property="createType" column="create_type"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="tbossUserId" column="tboss_user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, team_id, role, create_user_id,tboss_user_id,create_type, create_time, update_time
  </sql>
    <select id="selectRoleByUserId" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT GROUP_CONCAT(ff.role)
        FROM (SELECT fum.role AS role
              FROM flt_fleet_user_mapping fum
              WHERE fum.user_id = #{userId,jdbcType=BIGINT}
              GROUP BY fum.role) ff
    </select>
    <select id="selectByTeamIdAndRole" resultType="com.nut.driver.app.pojo.UserInfoPojo">
        SELECT
        fum.user_id AS id,
        uu.name AS name,
        uu.phone AS phone
        FROM flt_fleet_user_mapping fum
        INNER JOIN user uu ON uu.id = fum.user_id
        WHERE fum.team_id = #{teamId,jdbcType=BIGINT}
        AND fum.role = #{role,jdbcType=INTEGER}
        <if test="keyword != null and keyword != ''">
            AND (uu.name LIKE CONCAT('%', #{keyword,jdbcType=VARCHAR}, '%')
            OR uu.phone LIKE CONCAT('%', #{keyword,jdbcType=VARCHAR}, '%'))
        </if>
    </select>
    <select id="selectByTeamId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM flt_fleet_user_mapping fum
        WHERE fum.team_id = #{teamId,jdbcType=BIGINT}
    </select>
    <insert id="insertSelective" parameterType="com.nut.driver.app.domain.FltFleetUserMapping">
        insert into flt_fleet_user_mapping
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="teamId != null">
                team_id,
            </if>
            <if test="role != null">
                role,
            </if>
            <if test="createType != null">
                create_type,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="tbossUserId != null">
                tboss_user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="teamId != null">
                #{teamId,jdbcType=BIGINT},
            </if>
            <if test="role != null">
                #{role,jdbcType=INTEGER},
            </if>
            <if test="createType != null">
                #{createType,jdbcType=INTEGER},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="tbossUserId != null">
                #{tbossUserId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <delete id="deleteByTeamIdAndUserId" parameterType="java.lang.Long">
    DELETE FROM flt_car_driver_mapping
    WHERE team_id = #{teamId,jdbcType=BIGINT}
    AND user_id = #{userId,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from flt_fleet_user_mapping
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <select id="selectByUserId" parameterType="java.lang.Long" resultType="com.nut.driver.app.pojo.FleetInfoPojo">
    SELECT
    fum.team_id AS teamId,
    f.name,
    f.avatar,
    fum.role
    FROM flt_fleet_user_mapping fum
    INNER JOIN flt_fleet f ON f.id = fum.team_id
    WHERE fum.user_id = #{userId,jdbcType=BIGINT}
  </select>
    <select id="selectByUserIdAndTeamId" parameterType="java.lang.Long" resultType="com.nut.driver.app.pojo.FleetInfoPojo">
    SELECT
    f.id AS teamId,
    f.name,
    f.avatar,
    fum.role,
    uu.name AS creatorName,
    uu.phone AS creatorPhone
    FROM flt_fleet f
    LEFT JOIN flt_fleet_user_mapping fum ON fum.team_id = f.id AND fum.user_id = #{userId,jdbcType=BIGINT}
    LEFT JOIN flt_fleet_user_mapping c ON c.team_id = f.id AND c.role = 0
    LEFT JOIN user uu ON uu.id = c.user_id
    WHERE f.id = #{teamId,jdbcType=BIGINT}
  </select>
    <delete id="batchDelete" parameterType="java.util.List">
        DELETE FROM flt_fleet_user_mapping
        WHERE id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <select id="queryFleetIdsByUserId" resultType="java.lang.Long">
    SELECT DISTINCT team_id FROM flt_fleet_user_mapping WHERE user_id = #{userId,jdbcType=BIGINT}
  </select>
</mapper>
