<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nut.servicestation.app.dao.TempSetPictureInfoDao">
  <select id="tempGetSetPictureInfo" parameterType="java.lang.String" resultType="com.nut.servicestation.app.dto.TempActionPictureSetDto">
    SELECT
    bi.id id,
    bi.action_code actionCode,
    bi.action_name actionName,
    bi.picture_url pictureUrl,
    bi.order,
    bi.in_version inVersion,
    bi.out_version outVersion,
    bi.describe,
    bi.file_size fileSize,
    bi.flag flag
    FROM
    action_picture_set bi
    WHERE
    bi.action_code = #{actionCode,jdbcType=VARCHAR}
    and bi.type = #{type,jdbcType=VARCHAR}
    ORDER BY bi.order
  </select>
</mapper>