<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nut.servicestation.app.dao.UserPushTokenMappingDao">
  <resultMap id="BaseResultMap" type="com.nut.servicestation.app.domain.UserPushTokenMapping">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="app_type" jdbcType="VARCHAR" property="appType" />
    <result column="push_token" jdbcType="VARCHAR" property="pushToken" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, app_type, push_token, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_push_token_mapping
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_push_token_mapping
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.nut.servicestation.app.domain.UserPushTokenMapping">
    insert into user_push_token_mapping (id, user_id, app_type, 
      push_token, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{appType,jdbcType=VARCHAR}, 
      #{pushToken,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.nut.servicestation.app.domain.UserPushTokenMapping">
    insert into user_push_token_mapping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="appType != null">
        app_type,
      </if>
      <if test="pushToken != null">
        push_token,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="appType != null">
        #{appType,jdbcType=VARCHAR},
      </if>
      <if test="pushToken != null">
        #{pushToken,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nut.servicestation.app.domain.UserPushTokenMapping">
    update user_push_token_mapping
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="appType != null">
        app_type = #{appType,jdbcType=VARCHAR},
      </if>
      <if test="pushToken != null">
        push_token = #{pushToken,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nut.servicestation.app.domain.UserPushTokenMapping">
    update user_push_token_mapping
    set user_id = #{userId,jdbcType=VARCHAR},
      app_type = #{appType,jdbcType=VARCHAR},
      push_token = #{pushToken,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 自定义sql由此向下 -->

  <select id="selectByUserIdAndAppType"
          parameterType="com.nut.servicestation.app.domain.UserPushTokenMapping"
          resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List" />
    FROM
      user_push_token_mapping
    WHERE
      user_id = #{userId,jdbcType=VARCHAR}
    AND app_type = #{appType,jdbcType=VARCHAR}
    LIMIT 1
  </select>

  <delete id="deleteByUserIdAndType" parameterType="com.nut.servicestation.app.domain.UserPushTokenMapping">
    delete from user_push_token_mapping
    where app_type = #{appType,jdbcType=VARCHAR} AND user_id = #{userId,jdbcType=VARCHAR}
  </delete>
</mapper>