<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nut.servicestation.app.dao.UserMessageRecordDao">
    <resultMap id="BaseResultMap" type="com.nut.servicestation.app.domain.UserMessageRecord">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="message_id" jdbcType="VARCHAR" property="messageId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="push_show_type" jdbcType="INTEGER" property="pushShowType" />
        <result column="message_code" jdbcType="INTEGER" property="messageCode" />
        <result column="user_visible" jdbcType="INTEGER" property="userVisible" />
        <result column="receiver_id" jdbcType="VARCHAR" property="receiverId" />
        <result column="receive_app_type" jdbcType="INTEGER" property="receiveAppType" />
        <result column="sender_id" jdbcType="VARCHAR" property="senderId" />
        <result column="send_time" jdbcType="BIGINT" property="sendTime" />
        <result column="read_flag" jdbcType="INTEGER" property="readFlag" />
        <result column="message_extra" jdbcType="VARCHAR" property="messageExtra" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="stype" jdbcType="INTEGER" property="stype" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
    id, message_id, title, content, push_show_type, message_code, user_visible, receiver_id,
    receive_app_type, sender_id, send_time, read_flag, message_extra, type, stype, create_time,
    update_time
  </sql>

    <select id="queryMsgsList" parameterType="com.nut.servicestation.app.domain.UserMessageRecord"
            resultType="com.nut.servicestation.app.dto.MsgsDto">
    SELECT
        umr.message_id AS messageId,
        umr.read_flag AS readFlag,
        umr.message_code AS messageCode,
        umr.message_extra AS messageExtra,
        umr.title AS title,
        umr.content AS content,
        umr.send_time AS sendTime
    FROM
        user_message_record umr
    WHERE
        umr.push_show_type = #{pushShowType}
    AND umr.receive_app_type = #{receiveAppType}
    AND umr.receiver_id = #{receiverId}
    AND umr.user_visible = 2
    AND umr.send_time &lt;= #{sendTime}
    ORDER BY
    umr.id DESC
  </select>



</mapper>